#container {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    font-size: 2rem;
    font-weight: bold;

}

button {
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2c1cd8;
}

input {
    font-size: 1rem;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #f1f4f1;
    color: rgb(3, 3, 3);
    font-weight: bold;



}


label {
    font-size: 1rem;
    font-weight: bold;
}

#diceimg img {
    width: 80px;
}